<div class="media">
    <div class="media-body">
        <h4 class="media-heading"><%= comment.author.name %><br>
            <small><%= comment.created_at %></small>
        </h4>
        <%= comment.content %>
    </div>
</div>
