<!DOCTYPE html>
<html>
  <%= render partial: 'home/header' %>
  <body>
    <div class="container">
      <%= render partial: 'navbar/navbar' %>
      <%= yield %>
      <%= render partial: 'home/footer' %>
    </div>
  </body>
</html>
